@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #f894b6;
  --secondary: #f4f6ff;
  --text: #333;
  --card: #ffffff;
  --danger: #ff4d4d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--secondary);
  color: var(--text);
}

header {
  position: sticky;
  top: 15px;
  z-index: 1000;
  margin-top: 10px;
  background: transparent;
  font-size: 15px;
}

.header-container {
  max-width: 600px;
  margin: auto;
  background:  #e91e63;
  border: 0.2px solid #e91e63;
  border-radius: 50px;
  padding: 15px 15px;
}

.header-container h2 {
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin: 0;
  text-align: center;
}

.card {
  font-family: "Segoe UI", sans-serif;
  background: var(--card);
  max-width: 450px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  animation: slideUp 0.6s ease;
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0 }
  to { transform: translateY(0); opacity: 1 }
}

input, textarea, select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-family: "Segoe UI", sans-serif;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: 2px solid #e91e63;
  background: var(--primary);
  color: black;
  font-size: 16px;
  font-family: "Segoe UI", sans-serif;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s;
}

button:hover {
  background: #574fd6;
  transform: scale(1.03);
}

.danger {
  background: var(--danger);
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 4px; 
}

img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
  .card {
    margin: 20px;
  }
}

canvas {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from { opacity:0; transform: scale(0.9); }
  to { opacity:1; transform: scale(1); }
}
